In [1]:
import pandas as pd
data = pd.read_excel("百度搜索指数2017-2023以周为单位-20240112.xlsx")
data = data.iloc[:,1:]

In [2]:
data

,date,日本旅游,日本旅游攻略,日本航空,日本酒店,日本签证,日本美食,日本小吃,日本购物,东京地铁,...,新加坡签证,新加坡汇率,新加坡旅游地图,新加坡地图,新加坡自由行,新加坡旅游签证,新加坡机票,新加坡环球影城,新加坡旅游注意事项,新加坡旅游景点
0,2017-01-01,1823,1626,593,211,1856,484,216,398,461,...,1220,355,147.0,617,197.0,309,175,442,188.0,301
1,2017-01-08,1920,1913,792,331,2269,485,224,429,501,...,1656,614,168.0,799,233.0,398,194,495,207.0,310
2,2017-01-15,1955,1827,769,274,2146,489,221,342,496,...,1583,530,167.0,802,208.0,358,190,539,203.0,283
3,2017-01-22,1893,1828,793,721,1984,516,220,350,468,...,1569,582,172.0,778,201.0,346,185,592,218.0,277
4,2017-01-29,1764,1636,791,629,1686,434,193,344,402,...,1264,583,142.0,699,190.0,278,173,554,191.0,236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,2023-12-17,383,214,524,140,1047,240,76,136,233,...,873,1217,112.0,713,99.0,550,176,343,55.0,225
364,2023-12-24,379,204,473,136,1019,248,89,114,236,...,738,1238,82.0,729,91.0,297,162,346,18.0,182
365,2023-12-31,406,201,494,139,1110,234,95,125,269,...,814,1284,99.0,691,72.0,285,166,353,44.0,184
366,2024-01-07,434,214,1124,136,1219,234,114,119,267,...,1157,1290,101.0,708,132.0,301,181,369,92.0,195
367,2024-01-14,436,224,588,134,1317,218,111,117,242,...,1166,1450,81.0,756,114.0,305,186,400,110.0,195

In [3]:
datanew = data.groupby(pd.Grouper(key='date', freq='M')).mean()
datanew.to_csv("百度搜索指数2017-2023全年-20240112更新.csv")

In [4]:
import pandas as pd
data = pd.read_csv("百度搜索指数2017-2023全年-20240112更新.csv")
data

,date,日本旅游,日本旅游攻略,日本航空,日本酒店,日本签证,日本美食,日本小吃,日本购物,东京地铁,...,新加坡签证,新加坡汇率,新加坡旅游地图,新加坡地图,新加坡自由行,新加坡旅游签证,新加坡机票,新加坡环球影城,新加坡旅游注意事项,新加坡旅游景点
0,2017-01-31,1871.00,1766.00,747.60,433.20,1988.20,481.60,214.80,372.60,465.60,...,1458.40,532.80,159.20,739.00,205.80,337.80,183.40,524.40,201.40,281.40
1,2017-02-28,2155.25,2154.25,822.25,412.00,2342.50,503.00,222.25,376.50,467.25,...,1564.75,780.75,162.75,841.00,220.25,358.75,200.00,613.50,202.25,293.00
2,2017-03-31,1861.50,1691.00,728.00,318.00,1907.00,502.50,217.50,337.00,433.75,...,1598.25,787.50,164.75,804.25,201.25,346.25,182.50,473.75,176.75,297.00
3,2017-04-30,1772.40,1663.60,684.00,245.60,2001.20,485.40,199.60,334.00,427.00,...,1508.60,621.60,161.40,727.40,186.80,311.80,174.00,491.40,167.80,279.60
4,2017-05-31,1877.50,1874.25,721.75,266.75,2573.00,541.25,206.25,367.75,436.00,...,1640.00,630.25,174.00,831.00,201.50,348.00,177.50,546.50,173.00,298.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2023-09-30,533.00,231.25,532.75,149.75,844.75,245.50,95.75,123.25,262.50,...,910.25,1342.75,125.00,988.50,117.50,681.25,159.75,409.50,59.75,161.25
81,2023-10-31,435.40,311.40,521.80,135.80,897.20,249.00,83.60,116.40,265.00,...,722.00,1224.60,76.20,789.60,102.40,512.40,142.60,377.00,131.80,154.40
82,2023-11-30,367.25,306.25,538.75,135.50,1012.00,235.25,90.25,121.00,240.00,...,725.50,1231.00,65.50,682.75,116.00,456.00,138.75,304.50,131.75,164.50
83,2023-12-31,392.80,215.80,497.80,137.60,1118.60,244.20,88.60,124.80,253.60,...,875.60,1253.40,91.80,739.60,87.00,459.80,181.60,356.00,63.80,211.80
84,2024-01-31,435.00,219.00,856.00,135.00,1268.00,226.00,112.50,118.00,254.50,...,1161.50,1370.00,91.00,732.00,123.00,303.00,183.50,384.50,101.00,195.00

In [5]:
data = data.fillna(0)
full_data = data.iloc[:,1:]

In [6]:
u_data=(full_data-full_data.min())/(full_data.max()-full_data.min())
#u_data = u_data.rename(columns=full_data.columns)
u_data.head(3)

,日本旅游,日本旅游攻略,日本航空,日本酒店,日本签证,日本美食,日本小吃,日本购物,东京地铁,日本新干线,...,新加坡签证,新加坡汇率,新加坡旅游地图,新加坡地图,新加坡自由行,新加坡旅游签证,新加坡机票,新加坡环球影城,新加坡旅游注意事项,新加坡旅游景点
0,0.828483,0.728482,0.453179,0.210267,0.725386,0.665625,0.893733,0.770026,0.733869,0.426498,...,0.751881,0.024352,0.836134,0.479397,0.875745,0.237194,0.824524,0.322503,0.765198,0.313097
1,0.980269,0.904177,0.525096,0.195318,0.874202,0.721354,0.944482,0.779974,0.738686,0.511041,...,0.815373,0.089418,0.854779,0.629507,0.937234,0.260523,1.000000,0.413538,0.768427,0.336929
2,0.823410,0.694542,0.434297,0.129037,0.691280,0.720052,0.912125,0.679209,0.640876,0.416404,...,0.835373,0.091189,0.865284,0.575423,0.856383,0.246604,0.815011,0.270754,0.671543,0.345146

In [7]:
import matplotlib as mpl
 
    
mpl.rcParams['font.sans-serif'] = ['SimHei']  # 指定默认字体
mpl.rcParams['axes.unicode_minus'] = False  # 解决保存图像是负号'-'显示为方块的问题

# DFM

In [8]:
factors = dict()
for macro_variable in list(full_data.columns):
    factors[macro_variable] = ["0"]

In [9]:
import statsmodels.api as sm
factor_model = sm.tsa.DynamicFactorMQ(u_data,
                    factors=factors,
                    factor_orders = {'0': 1},
                    idiosyncratic_ar1=True,
                    standardize=False)

In [10]:
model_results = factor_model.fit(disp=50)

EM start iterations, llf=4701.2
EM iteration 50, llf=5069.3, convergence criterion=5.2355e-06
EM iteration 100, llf=5069.9, convergence criterion=1.0396e-06
EM converged at iteration 102, llf=5070, convergence criterion=9.9103e-07 < tolerance=1e-06

In [12]:
model_results.factors.smoothed["0"].values

array([12.58801072, 15.94186903, 14.12392481, 10.77129966, 12.98798976,
       14.65532027, 16.71567184, 16.91461645, 15.14439181, 13.76879549,
       13.85497123, 14.17556064, 14.57302275, 13.84585365, 15.74285615,
       14.72574786, 14.92740008, 15.79515993, 16.42627757, 16.33169033,
       14.47822046, 14.23553347, 14.02198903, 14.38812131, 13.89046825,
       14.87659086, 15.65035524, 14.99816637, 14.74728945, 15.57458648,
       15.8868293 , 15.54038165, 13.27676353, 12.37191989, 12.33090131,
       12.49814567, 11.08444987,  8.76364472,  6.95113917,  4.97812542,
        3.97042339,  3.89424768,  3.60294413,  3.58219753,  2.9175151 ,
        2.98820059,  3.04431712,  3.14921897,  2.3728255 ,  2.57593706,
        2.96124693,  2.4611323 ,  1.83105417,  1.61948817,  1.90949814,
        1.63693581,  1.2136655 ,  1.13287022,  1.3225591 ,  0.8986272 ,
        0.79444609,  1.69685212,  1.59643327,  1.94836067,  2.04393939,
        1.42456502,  1.53760031,  1.21367606,  1.0001705 ,  1.15304488,
        1.12908332,  1.28249738,  2.34787776,  3.34251688,  3.87657014,
        4.64549595,  4.51011221,  5.09221217,  5.67880384,  5.72839642,
        4.20916615,  3.47233649,  3.3090261 ,  3.6182291 ,  4.4430012 ])

In [18]:
a = [12.58801072, 15.94186903, 14.12392481, 10.77129966, 12.98798976,
       14.65532027, 16.71567184, 16.91461645, 15.14439181, 13.76879549,
       13.85497123, 14.17556064, 14.57302275, 13.84585365, 15.74285615,
       14.72574786, 14.92740008, 15.79515993, 16.42627757, 16.33169033,
       14.47822046, 14.23553347, 14.02198903, 14.38812131, 13.89046825,
       14.87659086, 15.65035524, 14.99816637, 14.74728945, 15.57458648,
       15.8868293 , 15.54038165, 13.27676353, 12.37191989, 12.33090131,
       12.49814567, 11.08444987,  8.76364472,  6.95113917,  4.97812542,
        3.97042339,  3.89424768,  3.60294413,  3.58219753,  2.9175151 ,
        2.98820059,  3.04431712,  3.14921897,  2.3728255 ,  2.57593706,
        2.96124693,  2.4611323 ,  1.83105417,  1.61948817,  1.90949814,
        1.63693581,  1.2136655 ,  1.13287022,  1.3225591 ,  0.8986272 ,
        0.79444609,  1.69685212,  1.59643327,  1.94836067,  2.04393939,
        1.42456502,  1.53760031,  1.21367606,  1.0001705 ,  1.15304488,
        1.12908332,  1.28249738,  2.34787776,  3.34251688,  3.87657014,
        4.64549595,  4.51011221,  5.09221217,  5.67880384,  5.72839642,
        4.20916615,  3.47233649,  3.3090261 ,  3.6182291 ,  4.4430012 ]